set relativenumber
let mapleader = " "
nnoremap <leader>w :w<CR>
nnoremap <leader>c :bdelete<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader>vs :vsplit<CR>
nnoremap <leader>sp :split<CR>
nnoremap <leader>bb :bprev<CR>
nnoremap <leader>bn :bnext<CR>
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>lr :action RenameElement<CR>
nmap <leader>lf <action>(ReformatCode)
vmap <leader>lf <action>(ReformatCode)
nmap <leader>lg <action>(Generate)
nmap <leader>d <action>(ShowErrorDescription)
nnoremap <leader>fe :action SearchEverywhere<CR>
nmap <leader>ft <action>(TextSearchAction)
nmap <leader>ff <action>(GotoFile)
" Map Alt+K to move the current line up
nnoremap <A-K> :m-2<CR>==
vnoremap <A-K> :m-2<CR>==gv
" Map Alt+J to move the current line down
nnoremap <A-J> :m+<CR>==
vnoremap <A-J> :m+<CR>==gv
noremap <leader>1 1gt
noremap <leader>2 2gt
noremap <leader>3 3gt
noremap <leader>4 4gt
noremap <leader>5 5gt
noremap <leader>6 6gt
noremap <leader>7 7gt
" Nerd Tree Settings
set NERDTree
nnoremap <leader>e :NERDTreeToggle<CR>
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapCloseDir = 'h'
let g:NERDTreeMapMenu = 'm'
set commentary
vnoremap <C-/  :CommentByLineComment<CR>
vnoremap <C-c> "+y
